{% extends "base_bootstrap.html" %}
{% block content %}

<a href="{% url 'autos:makes_create_view' %}">Add a make</a>
<a href="{% url 'autos:makes_list_view' %}">View makes</a>
</br>
<h3>Autos List</h3>
<a href="{% url 'autos:autos_create_view' %}">Add an auto</a>


<ul>
    {% for auto in object_list %}
        <li> {{auto.nickname}} | {{ auto.make.name}} | <a href="{% url 'autos:autos_update_view' auto.pk %}">Update</a>  <a href="{% url 'autos:autos_delete_view' auto.pk %}">Delete</a></li>
    {% endfor %}
</ul>
{% endblock content %}