{% extends "base_bootstrap.html" %}
{% block  content%}
<h1>Main Cats</h1>
<a href="{% url 'cats:cat_create' %}">Add a cat</a>
<a href="{% url 'cats:breed_create' %}">Add a breed</a>
<a href="{% url 'cats:breed_list' %}">View breeds</a>
<h3> Cat List </h3>
<ul>
{% for cat in object_list %}
    <li>{{ cat }} <a href="{% url 'cats:cat_details' cat.pk %}">Details</a> <a href="{% url 'cats:cat_update' cat.pk %}">Update</a> <a href="{% url 'cats:cat_delete' cat.pk %}">Delete</a></li>
{% endfor %}
</ul>

{% endblock content %}
